{% extends 'base.html' %}
{% load static %}
{% block body %}

<!-- about -->
<div class="container">
    <h1 class="text-center" style="margin-top: 50px;">{{o.prod.name}}-{{o.prod.subcat.name}}-{{o.prod.subcat.cat.name}}</h1>
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-6 py-3 py-md-0">
            <div class="card">
                <img src="{{o.prod.img.url}}" alt="">
            </div>
        </div>
        <div class="col-md-6 py-3 py-md-0">
            <p>{{o.prod.desc}}</p>
            <form action="{% url 'handle_edit_order' %}" method="post">
                {% csrf_token %}
                <div class="col-md-12">
                    <div class="form-floating">
                        <label for="price">Price</label>
                        <input name="price" type="number" class="form-control" id="fname" placeholder="{{o.prod.price}}" disabled>
                        
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-floating">
                        <label for="q">Quantity</label>
                        <input name="q" type="number" class="form-control" id="fname" placeholder="{{o.quantity}}">
                        
                    </div>
                </div>
                <div class="col-md-6 py-3">
                <input type="hidden" name="id" value="{{o.pk}}">
                <div class="form-floating">
                    <label for="fname"><b>Enter Address</b></label>
                    <textarea name="adr" id="" cols="90" rows="5">{{o.address}}</textarea>
                    
                </div>
            </div>
            <div id="btn4"><button type="submit">Edit Here</button></div>
            </form>
            <!-- <div id="btn4"><button>Order Now</button></div> -->
        </div>
    </div>
</div>
<!-- about -->

{% endblock %}