{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            
            <h1 class="mb-5">My Orders</h1>
        </div>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
           
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        
                        {% for item in o %}
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <!-- <img class="flex-shrink-0 img-fluid rounded" src="img/menu-1.jpg" alt="" style="width: 80px;"> -->
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span class="text-primary">{{item.prod.name}}</span>
                                        <span>{{item.quantity}}</span>
                                        <span>{{item.status}}</span>
                                        <span >{{item.address}}</span>
                                    </h5>
                                    <!-- <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="img/menu-2.jpg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span><img class="flex-shrink-0 img-fluid rounded" src="{{item.prod.img.url}}" alt="" style="width: 80px;"></span>
                                        <span class="text-primary"><form action="{% url 'edit_order' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="id" value="{{item.pk}}"><button class="btn" style="color: rgba(0, 128, 0, 0.962); background-color: yellow;"> Edit</button>
                                        </form></span>
                                        <span class="text-danger"><form action="{% url 'delete_order' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="id" value="{{item.pk}}">
                                            <button class="btn" style="color: white; background-color: red;"> Delete</button>
                                        </form></span>
                                    </h5>
                                    <!-- <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small> -->
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                              </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}